*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set a modern background color and font for the entire page */
body {
  --text-color: #ece9e9;
  --pop-color: #6ad7e5;
  --background--color: #070936;

  font-family: Arial, sans-serif;

  background-color: var(--background--color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
div,
section {
  width: 100%;
}

main {
  margin: 1em 2.5em;
}

h1 {
  font-size: 2.5rem;
  color: var(--pop-color);
  text-align: left;
  margin: 0 3.5em;
}

a {
  color: var(--pop-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff6600d4;
}

/* Style paragraphs */
p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 20px 0;

  text-align: left;
}

/* Add some spacing between paragraphs */
p + p {
  margin-top: 10px;
}

/* Add a modern container for your content */
.container {
  border-radius: 12px;
  justify-content: left;
  max-width: 80%;
  min-width: 400px;
  margin: 2em auto;
  padding: 20px;
  background-color: #fbaf51;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

:root {
  --bar-width: 30px;
  --bar-height: 3px;
  --hamburger-gap: 6px;
  --hamburger-margin: 0.5em;
  --hamburger-height: calc(3 * var(--bar-height) + 2 * var(--hamburger-gap));
  --animation-timing: 200ms ease-in-out;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  position: fixed;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);

  width: max-content;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  color: white;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: white;
  border-radius: 999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),
    translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

aside {
  width: max-content;

  transition: translate var(--animation-timing);
  translate: -100%;

  position: fixed;
  top: calc(2 * var(--hamburger-height));
  left: 0;

  translate: -100%;

  display: flex;
  flex-direction: column;
}

.hamburger-menu:has(input:checked) + aside {
  translate: 0;
}
