*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  width: 100%;
}

/* Set a modern background color and font for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1d4e;
  color: #ece9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 1em 2.5em;
}

footer {
  position: fixed;
  bottom: 0;

  margin-top: 2em;
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

div,
section {
  width: 100%;
}

/* Style the header text (e.g., site title) */
h1 {
  font-size: 2.5rem;
  color: #6ad7e5;
  /* Blue color for the header */
  text-align: left;
  margin: 0 2.5em;
}

/* Style links */
a {
  color: #0073e6;
  /* Blue color for links */
  text-decoration: none;
  transition: color 0.3s ease;
  /* Smooth transition for link color */
}

a:hover {
  color: #ff6600;
  /* Orange color when hovering over links */
}

/* Style paragraphs */
p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 20px 0;
  padding: 0 20px;
  text-align: left;
}

/* Add some spacing between paragraphs */
p + p {
  margin-top: 10px;
}

/* Add a modern container for your content */
.container {
  border-radius: 12px;
  justify-content: left;
  max-width: 80%;
  min-width: 400px;
  margin: 2em auto;
  padding: 20px;
  background-color: #fbaf51;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0px 10px;
  border: 2px solid black;
}

ul li::before {
  font-size: 2em;
  content: '\261E'; /* Use a fun Unicode character as a bullet */
  margin-right: 10px;
}
